body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #F9F9F9;
    color: #333;
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
}

.faq-container h2 {
    text-align: center;
    color: #0056b3;
}

#busca-faq {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #CCC;
}

.pergunta {
    background-color: #FFF;
    padding: 15px 20px;
    margin-top: 8px;
    cursor: pointer;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-weight: bold;
    transition: backgroud-color: .3s;   
}

.pergunta:hover {
    background-color: #F1F1F1;
}

.pergunta .ativa {
    background-color: #E7F1FF;
}

.resposta {
    padding: 15px 20px;
    border: 1px solid #DDD;
    border-top: none;
    background-color: #FFF;
    display: none;
}